.matches-hero__title {
    text-align: center;
    font-size: 60px;
}

.matches-hero__text {
    text-align: center;
    margin-top: 20px;
}

.matches-hero__meta {
    margin-top: 60px;
}

.matches-list__title {
    text-align: center;
    margin-top: 90px;
}

.match-card {
    text-align: center;
}

.match-card__competition {
    text-align: left;
    font-size: 45px;
}

.col-12 {
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 2rem;
}

.btn-more {
    background-color: #67081d;
    color: #ddd;
    padding: 10px;
    border-radius: 25px;
}

.match-card__date {
    text-align: right;
}

.match-card__team {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}


.match-card__location {
    padding: 20px;
}

.match-card__score {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}
