
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 2px 5px #B20100;
    position: relative;
}

.header-logo img{
    width: 100px;
    margin-left: 50px;
}


.header-nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
    margin-right: 50px;
}

.header-nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    transition: color 0.3s;
}

button{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
}


footer {
    background-color: var(--bg-color);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    box-shadow: 0 2px 10px #B20100;
}

.footer-left, .footer-right {
    flex: 1;
}

.footer-right {
    text-align: right;
}

.footer-left p {
    color: var(--primary-color);
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-right a {
    display: block;
    margin-bottom: 20px;
    transition: color 0.3s;
}

.footer-right a:hover {
    color: var(--bg-color);
}

.footer-logo {
    height: 40px;
    object-fit: contain;
}

.social-icon {
    display: inline-block;
    cursor: pointer;
}

.social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icon:hover img {
    transform: scale(1.1);
}

.map{
    height: 300px;
}