/* Commentaire: Feuille de style pour fonts. */
@font-face {
    font-family: "Epilogue";
    src:
    local("Epilogue"),
    url("/src/fonts/Epilogue/Epilogue-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "chetta_vissto";
    src:
    local("chetta_vissto"),
    url("/src/fonts/chetta_vissto/chetta_vissto.woff2") format("woff2"),
    url("/src/fonts/chetta_vissto/chetta_vissto.woff") format("woff"),
    url("/src/fonts/chetta_vissto/chetta_vissto.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
.home-carousel-title,
.news-summary__title,
.news-card__title,
.article-editor-display--title,
.article-editor-display--subtitle,
.article-title,
.matches-hero__title,
.matches-list__title,
.admin-dashboard .card-title,
.club-card-title,
.header-burger-title,
.header-burger-group-title {
    font-family: "chetta_vissto", "Epilogue", sans-serif;
}


h1{
    color: var(--primary-color);
    font-size: 60px;
    margin-top: 20px;
    font-family:"chetta_vissto", "Epilogue", sans-serif  ;
}

h2{
    color: var(--primary-color);
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:"chetta_vissto", "Epilogue", sans-serif  ;
}

h3{
    color: var(--primary-color);
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family:"chetta_vissto", "Epilogue", sans-serif  ;
    font-weight: bold;
}

h4{
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-family:"chetta_vissto", "Epilogue", sans-serif  ;
}

body{
    color: var(--primary-color);
    font-size: 18px;
    font-family:"Epilogue", sans-serif  ;
}

small{
    color: var(--primary-color);
    font-size: 16px;
    font-family:"Epilogue", sans-serif  ;
}

.mini{
    color: var(--primary-color);
    font-size: 14px;
    font-family:"Epilogue", sans-serif  ;  
}
